body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color: #9b0a18;
}

h2{
  color: #000;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 65px;
    overflow-x: hidden;
    padding-top: 20px;
}

.lleft {
    left: 0;
    background-color: #ce3500;
}

.lright {
    right: 0;
    background-color: #ffab00;
}

.sleft {
    left: 0;
    background-color: #0067a7;
}

.sright {
    right: 0;
    background-color: #D65076;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: 	#000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #006400;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

input.file{
      border: 1px solid black;
    }

/*
#leftreplace {
    border:1px solid black;
    overflow: auto;
    align-self: center;
    width: 40%;
    height: 70%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-top: 7%;
    margin-left: 5%;
    background-color: white;
}

#rightreplace{
    border:1px solid black;
    overflow: auto;
    align-self: center;
    width: 40%;
    height: 60%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-top: 10%;
    margin-right: 5%;
    background-color: white;
}
*/
input.ip{
    border: 1px solid black;
    height: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}